doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Dee's Dance Academy
    link(rel="stylesheet", href="/style.css")
  body
    header
      h1 Dee's Dance Academy
      p Eat. Sleep. Dance. Repeat.
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="/classes") Dance Classes
          li
            a(href="/events") Events
          li
            a(href="/contact") Contact
          li
            a(href="/create") Create
    .container
      block content
    footer
      p &copy; 2024 Dee's Dance Academy
